<?xml version="1.0"?>
<config>
    <modules>
        <MDN_Organizer>
            <version>0.2.0</version>
        </MDN_Organizer>
    </modules>
    <global>
    
	   	<helpers>
            <Organizer>
                <class>MDN_Organizer_Helper</class>
            </Organizer>
        </helpers>
        	    
	   	<blocks>
            <Organizer>
            	<class>MDN_Organizer_Block</class>
           	</Organizer>
    	    <adminhtml>
				<rewrite>
					<sales_order_view_tabs>MDN_Organizer_Block_Adminhtml_Sales_Order_View_Tabs</sales_order_view_tabs>
					<catalog_product_edit_tabs>MDN_Organizer_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
				</rewrite>
			</adminhtml>
			<Quotation>
				<rewrite>
					<adminhtml_customer_edit_tabs>MDN_Organizer_Block_Adminhtml_Customer_Edit_Tabs</adminhtml_customer_edit_tabs>
				</rewrite>
			</Quotation>
    	</blocks>
    	
        <models>
    	    <Organizer>
                <class>MDN_Organizer_Model</class>
                <resourceModel>Organizer_mysql4</resourceModel>
            </Organizer>
            
            <Organizer_mysql4>
                <class>MDN_Organizer_Model_Mysql4</class>
                <entities>
                    <Task>
                        <table>organizer_task</table>
                    </Task>
                    <TaskCategory>
                        <table>organizer_task_category</table>
                    </TaskCategory>
                    <TaskOrigin>
                        <table>organizer_task_origin</table>
                    </TaskOrigin>
                </entities>
            </Organizer_mysql4>
    	</models>
        
   	    <resources>
        	<Organizer_setup>
				<setup>
					<module>MDN_Organizer</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</Organizer_setup>
            <Organizer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Organizer_write>
            <Organizer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Organizer_read>
        </resources>	
        
    </global>
    
     <adminhtml>

        <menu>
            <organizer translate="title" module="Organizer">
                <title>Organizer</title>
                <children>
                    <list translate="title" module="Organizer">
                        <title>All Tasks/Events</title>
                        <action>Organizer/Task/List</action>
                    </list>
                    <dashboard translate="title" module="Organizer">
                        <title>My Dashboard</title>
                        <action>Organizer/Task/Dashboard</action>
                    </dashboard>
                </children>
                <sort_order>90</sort_order>
            </organizer>
        </menu>

        <routers>
            <Organizer>
                <use>standard</use>
                <args>
                    <module>MDN_Organizer</module>
                    <frontName>Organizer</frontName>
                </args>
            </Organizer>
        </routers>

        <layout>
            <updates>
                <organizer>
                    <file>organizer.xml</file>
                </organizer>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <MDN_Organizer>
                    <files>
                        <default>MDN_Organizer.csv</default>
                    </files>
                </MDN_Organizer>
            </modules>
        </translate>
        
        <acl>
	        <resources>
	            <admin>
	                <children>
		                <organizer module="Organizer">
	                        <title>Organizer</title>
				            <children>
			                    <list module="Organizer">
			                        <title>All Tasks/Events</title>
			                    </list>
			                    <dashboard module="Organizer">
			                        <title>My Dashboard</title>
			                    </dashboard>
			                 </children>
	                    </organizer>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <organizer module="Organizer">
												<title>Organizer</title>
	                                    </organizer>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	         </resources>
	    </acl>
        
    </adminhtml>
    
    <frontend>
        <routers>
            <Organizer>
                <use>standard</use>
                <args>
                    <module>MDN_Organizer</module>
                    <frontName>Organizer</frontName>
                </args>
            </Organizer>
        </routers>
        
    </frontend>
    
    <admin>
    	<routers>
            <Organizer>
                <use>admin</use>
                <args>
                    <module>MDN_Organizer</module>
                    <frontName>Organizer</frontName>
                </args>
            </Organizer>
        </routers>
    </admin>
    
</config> 